@using Web.Models

@section Levels
{
    <link rel="stylesheet" href="~/Content/Levels.css">

}

@{
    ViewBag.Title = "RutinaIntermedia";
}
<div class="intro">

    <h1>Usuario: @ViewBag.userName</h1>
    <hr />
    <h2>Rutina Nivel: @ViewBag.level.Description</h2>
    <h3>Dias de entrenamiento: @ViewBag.level.RoutineDays</h3>

    <h3>Numero de rondas: @ViewBag.level.Rounds </h3>

    <h3>Repeticiones: @ViewBag.level.ExerciseRepetition</h3>





    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ejercicios</th>
                <th scope="col">Descripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.ejerciciosRutina1.Name</td>
                <td>@ViewBag.ejerciciosRutina1.Description</td>
            </tr>
            <tr>
                <td>@ViewBag.ejerciciosRutina2.Name</td>
                <td>@ViewBag.ejerciciosRutina2.Description</td>
            </tr>
            <tr>
                <td>@ViewBag.ejerciciosRutina3.Name</td>
                <td>@ViewBag.ejerciciosRutina3.Description</td>
            </tr>
            <tr>
                <td>@ViewBag.ejerciciosRutina4.Name</td>
                <td>@ViewBag.ejerciciosRutina4.Description</td>
            </tr>
        </tbody>
    </table>
</div>


